header {
    background-image: url(imageacceuil.jpeg);
    background-size: cover;
    text-align: center;
    width: 100%;
    height:700px;
}

.letexte {
    width: 100%;
    position: absolute;
    margin-top: 15%;
}


.image2 img,.image3 img {
    max-width: 100%;
    height:auto;
}
